<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>  
        </header>
        <footer th:fragment="footer">
            <p>[[#{plantilla.pieDePagina}]]</p>
        </footer>
    </body>
</html>
